img#logo {
  position:fixed;
  left: 50%;
  top: 50%;
  margin-left: -342.5px;
  margin-top: -162.5px;
}

ul#menu {
  position:fixed;
  list-style-type: none;
  right: 10px;
  top: 0;
  margin: 0;
}

ul#menu li{
  float: left;
  margin-right: 10px;
}

ul#menu a {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #333333;
  background: transparent;
  text-decoration: none;
}

ul#menu a:hover {
  color: #428bca;
}
